@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@keyframes background-color-change {
    0% {
        background-color: rgb(255, 0, 0);
    }

    15%{
        background-color: rgb(255, 157, 0);
    }

    25% {
        background-color: rgb(255, 174, 0);
    }

    50% {
        background-color: rgb(203, 216, 26);
    }

    75% {
        background-color: rgb(0, 255, 0);
    }

    80% {
        background-color: rgb(38, 214, 76);
    }

    85%{
        background-color: rgb(0, 225, 255);
    }

    90% {
        background-color: rgb(50, 61, 222);
    }

    95%{
        background-color: purple;
    }

    98%{
        background-color: rgb(102, 102, 102);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}

body {
    animation: background-color-change 90s infinite;
    
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    border-bottom: 1px solid #fff;  
}

.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    display: flex;
    height: 100vh;
}

.form-block {
    padding: 30px 30px;
    border-right: 1px solid #fff;
    width: 25%;
}

.card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: relative;
}

.card {
    width: fit-content;
    max-height: calc(100vh - 500px);
    max-width: 100%;
    
}

.form-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-list_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select {
    font: inherit;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.input_text {
    font: inherit;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    font: inherit;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background: #383838;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #fff;
    color: #272727;
}

.text_top {
    position: absolute;
    text-align: center;
    top: 25%;
    font-weight: bold;
    font-size: 34px;
    z-index: 20; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(82, 82, 82);
}

.text_bottom {
    position: absolute;
    text-align: center;
    bottom: 25%;
    font-weight: bold;
    font-size: 34px;
    z-index: 20;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(82, 82, 82);
}

